/* Estilos para o cabeçalho */
header {
    background-color: #ff9900; /* Cor de fundo laranja */
    padding: 20px;
    text-align: center;
}

h3 {
    color: #ffffff; /* Cor do texto branco */
}

h1 {
    color: #ff0000; /* Cor vermelha */
    font-weight: bold; /* Negrito */
    font-size: 21px; /* Tamanho da fonte */
  }

/* Estilos para os cardápios */
#cardapio {
    display: flex; /* Torna os filhos flexíveis */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
}

.card {
    width: calc(50% - 20px); /* Definindo a largura do card para ocupar metade do espaço disponível */
    margin: 10px; /* Adicionando margem entre os cards */
    border: 1px solid #ccc; /* Adicionando uma borda para destacar os cards */
    padding: 10px; /* Adicionando preenchimento dentro dos cards */
}

/* Estilos para as informações de contato */
.contato {
    margin-top: 50px;
    text-align: center;
}

/* Estilos para o rodapé */
footer {
    background-color: #333; /* Cor de fundo preta */
    color: #ffffff; /* Cor do texto branco */
    padding: 20px;
    text-align: center;
}

.center {
    text-align: center;
  }
  .center img {
    width: 10%; /* Reduzir em 10% */
    display: block;
    margin: 0 auto; /* Centralizar */
  }
